<div class="feature"> 
	<div class="feature-holder"> 
		<ul class="options-list">
		  <li><a href="#" class="twitter">twitter</a></li>
		  <li><a href="#" class="comments">comments</a></li>
		  <li><a href="#" class="my-space">my-space</a></li>
		  <li><a href="#" class="doc">doc</a></li>							
		</ul>
		<h2 class="text-feature">featured re-enactment</h2>
		<div class="row">
		  <h3 class="text-sinking"><%= link_to @project.title, @project %></h3>
			<div class="img-holder"> 
				<%= link_to image_tag(@project.photo.url(:medium)), @project %>
			</div>
			<ul class="cite-list">
			  <%= render :partial => 'projects/item', :collection => @items %> 
			</ul>
		</div>
	</div>
</div>
<p><%= @project.description %></p>