<div class="common-content">
  <h1>People</h1>

  <div class="bio">
    <img src="/images/people/MarionJensen.jpg" alt="Marion Jensen" />
    <p>Marion Jensen is the founded of the TwHistory project and is currently a Sr. Instructional Designer at American Express. He is a technology tinkerer, and is 
    constantly looking for new ways to use social media in learning situations. He is an author with two books 
    under his belt, and blogs at <a href="http://marionjensen.com">http://marionjensen.com</a>. In his spare time he writes, runs, and caresses his board game collection.</p>
  </div>
  
  <div class="bio">
    <img src="/images/people/justinball.jpg" alt="Justin Ball" />
    <p>Justin Ball is the TwHistory software lacky and is a software consultant and entrepreneur with a passion for Ruby. He evolved from a C++ and .Net 
      monkey into a python programmer and finally found Ruby. In the rare moments when he isn't writing code, 
      talking about code or measuring his code productivity in profanity per hour, you can find him on his bike 
      in the mountains or on the roads surrounding Cache Valley. Justin can be found pontificating at <a href="http://www.justinball.com">http://www.justinball.com</a>.</p>
  </div>
  
</div>