<div class="common-content">
  <h1>Welcome Teachers!</h1>
  <p>History is boring. At least the way we typically teach history is boring. Ask anyone who's been forced to memorize a list of dates and facts and they will
    tell you that they would rather have open heart surgery than deal with another high school history class.</p>
  <p>It's unfortunate that so many people have such a negative introduction to such a key subject.</p>
  <p>History taught well is mind blowing and life changing. It turns out that the same history that puts 9th graders into a comma can also be made into movies that
    people PAY to see. History experienced instead of memorized changes our perspectives, opens our eyes and helps us avoid the mistakes of our fore-fathers. History
    teaches us that while people 100 years ago wore different clothes and lacked iPhones they still shared our same basic human thoughts and passions. 
    By giving students the opportunity to see and feel the world through the past hopefully they can plan for the future.</p>
  <p>TwHistory is about helping students experience a slice of time through the eyes of another person. The aggregate of these personal experiences can then
    give a unique perspective of an event in history. It's dull to memorize the events of the 13 days of the 
    <a href="http://www.gwu.edu/~nsarchiv/nsa/cuba_mis_cri/">Cuban Missile Crisis</a> for a pop quiz but it gets your attention
    when McNamara drops the F-bomb on Twitter because the world is about to end in a big nuclear fireball.</p>
  <p>We encourage you to help your students live history. Pick an event. Pick a person. Do the research and prepare the Tweets. Then watch history unfold via
    the most modern of experiences - Twitter.</p>
  <p>Enjoy TwHistory and <a href="http://twhistory.org/contact">contact us</a> if you have any questions or need help.</p>
</div>