/* invite form */
.contact-chooser{font-size:12px;font-family:Verdana,Arial,san-serif;}
.contact-chooser fieldset{border:1px solid #CCC;}
.contact-chooser input{margin-right:5px;}
.contact-chooser td{border-bottom:1px solid #EEE;}
.contact-chooser td.cb{padding:5px 3px 5px 5px;}
.contact-chooser table{border-collapse:collapse;margin:0;padding:0;}
.contact-chooser .icon{width:20px;height:20px;}
.contact-chooser-list{width:500px;}
.select-all {background-color:#EEEEEE;border-bottom:1px solid #CCCCCC;color:#666666;line-height:200%;margin:0;padding:0 5px;}
.table-wrapper{height:250px;overflow-y:scroll;padding:4px 0 0;}
.tabs ul{padding:2px;margin:0;}
.tabs ul li{list-style:none;font-weight:bold;display:inline-block;}
.tabs ul li a{float:left;text-decoration:none;font-weight:bold;}
.tabs ul li a:hover{text-decoration:underline;}
#invite textarea{width:600px;height:80px;font-size:1em;}