<h1>Twitter Accounts Connected to <%= @parent.authentication_name %></h1>
<%= link_to 'Add Account', "/auth/twitter?parent_id=#{@parent.id}&parent_type=#{@parent.class.to_s}" %>
<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <% @authentications.each do |authentication| %>
    <tr>
      <td><%= authentication.uid %></td>
      <td><%= link_to 'Delete', polymorphic_path([@parent, authentication]), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>