<li>
	<div class="visual">
	  <%= image_tag character.photo.url(:icon) if character.photo_file_name %>
	</div>
	<div class="text-holder"> 
		<p><strong class="name"><%= link_to character.name, project_character_path(@project, character) %></strong><%= truncate_on_word(character.bio, 160) %></p> 
	</div>
</li>