<li> 
	<div class="visual"> 
		<img src="images/img05.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">Capt_Smith</strong>character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
	</div><!-- text holder --> 
</li> 
<li> 
	<div class="visual"> 
		<img src="images/img02.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">C_Lightoller</strong>character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
	</div><!-- text holder --> 
</li> 
<li> 
	<div class="visual"> 
		<img src="images/img03.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">J_Phillips</strong> character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
	</div><!-- text holder --> 
</li> 
<li> 
	<div class="visual"> 
		<img src="images/img05.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">Capt_Smith</strong>character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
	</div><!-- text holder --> 
</li> 
<li> 
	<div class="visual"> 
		<img src="images/img02.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">C_Lightoller</strong>character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
	</div><!-- text holder --> 
</li> 
<li> 
	<div class="visual"> 
		<img src="images/img03.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">J_Phillips</strong> character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
	</div><!-- text holder --> 
</li> 
<li> 
	<div class="visual"> 
		<img src="images/img03.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">J_Phillips</strong> character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
	</div><!-- text holder --> 
</li>