<li> 
	<div class="visual"> 
		<img src="images/img02.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">C_Lightoller</strong> Just sent lifeboat 12 away with 40 women and children</p> 
		<em class="date"> Jun 11, 1:25 AM</em><!-- date --> 
	</div><!-- text holder --> 
</li> 
<li> 
	<div class="visual"> 
		<img src="images/img03.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">J_Phillips</strong>  Word is we are sinking. Staying at my post. Trying to raise another ship on our wireless.</p> 
		<em class="date">Jun 11, 1:20AM</em><!-- date --> 
	</div><!-- text holder --> 
</li> 
<li> 
	<div class="visual"> 
		<img src="images/img04.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">C_Lightoller</strong> I gave them orders to row towards the lights of the ship that was still visible but not responding.</p> 
		<em class="date"> Jun 11, 1:16 AM</em><!-- date --> 
	</div><!-- text holder --> 
</li> 
<li> 
	<div class="visual"> 
		<img src="images/img05.jpg" alt="" width="62" height="62" /> 
	</div><!-- visual --> 
	<div class="text-holder"> 
		<p><strong class="name">Capt_Smith</strong>Titanic just lurched to port, with the deck tilting. The band is playing for us. Boats No. 9 and No. 10 are lowering.</p> 
		<em class="date"> Jun 11, 1:15 AM</em><!-- date --> 
	</div><!-- text holder --> 
</li>