<ul class="<%=css%>"> 
	<li><%= follow_link(project) %></li> 
	<!--
	<li><a href="#" class="doc">docs</a></li> 
	<li><a href="#" class="comments">comments</a></li> 
	<li><a href="#" class="people">people</a></li> 
  -->
</ul>