<ul class="options-list"> 
	<li>
	  <%= link_to translate('general.follow'), project_broadcasts_path(project), :class => 'twitter' %>
	</li> 
	<!--
	<li><a href="#" class="comments">comments</a></li> 
	<li><a href="#" class="people">people</a></li> 
	<li><a href="#" class="doc">doc</a></li> 
	-->
</ul>