<h2>Re-enactments <span><strong>showing latest 1-5</strong> of 8</span></h2> 
<%= render @projects %>

<div class="paging"> 
	<ul>							<li><a href="#" class="prev">prev</a></li>							<li><a href="#" class="next">next</a></li>						</ul> 
</div>