<h2 class="text-sinking2">Sinking of the Titanic</h2> 
<span class="author"><strong>Recreated by:</strong> TwHIstory Team</span> 
<div class="broadcast"> 
	<div class="heading"> 
		<a href="#"><strong>Next Broadcast:</strong> April 9, 2011</a> 
	</div><!-- heading --> 
	<p>This is where the abstract for the re-enactment goes. Just an overview, a short-ish description. Ladies and gentlemen. The Titanic will sail again…and then it will sink again! We are presenting TwHistory at two conferences this week (TTIX and GLS). We will explain how a TwHistory event can be coordinated, and then we will demonstrate it by asking participants to create tweets around the sinking of the Titanic. If you would like to be updated on this event, please follow @TwHistory. This event will happen June 10th, 2010. Hope to see you there!</p> 
</div><!-- broadcast --> 
<div class="column-holder"> 
	<div class="column"> 
		<h3 class="ico-peoples">Historical Figures</h3> 
		<ul class="cite-list light"> 
			<li> 
				<div class="visual"> 
					<img src="images/img05.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">Capt_Smith</strong>character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
				</div><!-- text holder --> 
			</li> 
			<li> 
				<div class="visual"> 
					<img src="images/img02.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">C_Lightoller</strong>character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
				</div><!-- text holder --> 
			</li> 
			<li> 
				<div class="visual"> 
					<img src="images/img03.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">J_Phillips</strong> character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
				</div><!-- text holder --> 
			</li> 
			<li> 
				<div class="visual"> 
					<img src="images/img05.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">Capt_Smith</strong>character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
				</div><!-- text holder --> 
			</li> 
			<li> 
				<div class="visual"> 
					<img src="images/img02.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">C_Lightoller</strong>character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
				</div><!-- text holder --> 
			</li> 
			<li> 
				<div class="visual"> 
					<img src="images/img03.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">J_Phillips</strong> character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
				</div><!-- text holder --> 
			</li> 
			<li> 
				<div class="visual"> 
					<img src="images/img03.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">J_Phillips</strong> character bio goes here. This is where you get to talk about what this individual contributed to the event. Good, bad or ugly. </p> 
				</div><!-- text holder --> 
			</li> 
		</ul><!-- cite list --> 
	</div><!-- column --> 
	<div class="column"> 
		<h3 class="ico-comments">Historical Figures</h3> 
		<ul class="cite-list"> 
			<li> 
				<div class="visual"> 
					<img src="images/img02.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">C_Lightoller</strong> Just sent lifeboat 12 away with 40 women and children</p> 
					<em class="date"> Jun 11, 1:25 AM</em><!-- date --> 
				</div><!-- text holder --> 
			</li> 
			<li> 
				<div class="visual"> 
					<img src="images/img03.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">J_Phillips</strong>  Word is we are sinking. Staying at my post. Trying to raise another ship on our wireless.</p> 
					<em class="date">Jun 11, 1:20AM</em><!-- date --> 
				</div><!-- text holder --> 
			</li> 
			<li> 
				<div class="visual"> 
					<img src="images/img04.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">C_Lightoller</strong> I gave them orders to row towards the lights of the ship that was still visible but not responding.</p> 
					<em class="date"> Jun 11, 1:16 AM</em><!-- date --> 
				</div><!-- text holder --> 
			</li> 
			<li> 
				<div class="visual"> 
					<img src="images/img05.jpg" alt="" width="62" height="62" /> 
				</div><!-- visual --> 
				<div class="text-holder"> 
					<p><strong class="name">Capt_Smith</strong>Titanic just lurched to port, with the deck tilting. The band is playing for us. Boats No. 9 and No. 10 are lowering.</p> 
					<em class="date"> Jun 11, 1:15 AM</em><!-- date --> 
				</div><!-- text holder --> 
			</li> 
		</ul><!-- cite list --> 
		<ul class="links">								<li><a href="#">View Full Re-Enactment Archive</a></li>								<li><a href="#">Download Tweets</a></li>							</ul> 
	</div><!-- column --> 
</div><!-- column holder --> 
<h3 class="ico-doc">Primary Source Links</h3> 
<ul class="links-list">						<li><a href="#"><strong>First Flight - Kittyhawk</strong> by Todd Bartlett</a></li>						<li><a href="#"><strong>Simone Bolivar-Haiti Liberation</strong> by Miss Mitchell’s 8th-grade World History</a></li>						<li><a href="#"><strong>Columbus 1492</strong> by GEO208 Utah Valley University</a></li>						<li><a href="#"><strong>Battle of the Bulge</strong> by Maryanne Hanks</a></li>						<li><a href="#"><strong>Paul Revere’s Ride</strong> by Daughters of the American Revolution - Seattle</a></li>						<li><a href="#"><strong>Columbia Shuttle Disaster</strong> by Todd Bartlett</a></li>						<li><a href="#"><strong>Alexander the Great’s March on Moscow</strong> by Twhistory</a></li>						<li><a href="#"><strong>Flight of the Enola Gay</strong> by Locke HS History Club</a></li>						<li><a href="#"><strong>Something Else</strong> by Twhistory</a></li>						<li><a href="#"><strong>Running Out of Ideas</strong> by Todd Bartlett</a></li>					</ul><!-- links list --> 
