<li> 
  <strong class="broadcast-title"><%= link_to broadcast.project.title, broadcast.project %></strong> <span class="date">broadcast.start_at.to_s(:long_date) to broadcast.end_at.to_s(:long_date)</span> 
  <ul class="follow-list"> 
    <li><a href="#" class="comments">comments</a></li> 
    <li><a href="#" class="people">people</a></li> 
    <li><a href="#" class="doc">doc</a></li> 
    <li><%= link_to translate('general.follow'), 'http://twitter.com/todo', :class => 'follow' %></li> 
  </ul> 
</li>