<div class="form-row date-time">
  <label id="date"><%= translate('broadcasts.start_label') %></label>
  <%= text_field_tag :start_date, just_date(@broadcast.start_at), { :class => "date_pick" } -%>
  <label id="time">At</label>
  <%= text_field_tag :start_time, just_time(@broadcast.start_at), { :class => 'time_pick' } %>
</div>

<script type="text/javascript" language="JavaScript">
  jQuery(document).ready(function(){
    jQuery('.date_pick').datepicker({
        			changeMonth: true,
        			changeYear: true,
        			numberOfMonths: 3,
              showButtonPanel: true,
              yearRange: 'c-200:c+50'
        		});
        		
    jQuery('.time_pick').timePicker({
              show24Hours: false,
              step: 15});
  });
</script>