<h2>Broadcast Schedule</h2> 
<h4>Re-enactments in Progress</h4>
<% if @broadcasts_in_progress.any? -%>
  <ul class="progress-list">
    <%= render :partial => 'broadcasts/broadcast', :collection => @broadcasts_in_progress %>
  </ul>
<% else -%>
  No current broadcasts
<% end -%>
<h4>Scheduled Re-enactments</h4> 
<div id="calendar"></div>

<script type="text/javascript" language="JavaScript">
  jQuery(document).ready(function(){
  	jQuery('#calendar').fullCalendar({
  		header: {
  			left: 'prev',
  			center: 'title',
  			right: 'next'
  		},
  		buttonText: {
          	prev: '&nbsp;',
          	next: '&nbsp;'
  	    },
  		editable: false,
  		eventClick: function(calEvent, jsEvent, view) {
  		  location.href=calEvent.project_url;
      },
  		events: <%= @broadcasts.to_json(:only => [:id], :methods => [:title, :start, :end, :project_url]).html_safe -%>
  	});	
  });
</script>