<div id="new-broadcast" class="common-form">
  <h1>Add Broadcast</h1>
  <%= muck_form_for :broadcast, :url => project_broadcasts_path(@project), :html => { :id => "new-broadcast-form", :name => 'new-broadcast-form', :class => 'broadcast-form' } do |f| -%>
  	<%= output_errors(translate('broadcasts.new_problem'), {:class => 'help-box'}, @broadcast) %>
    <%= render 'form', :f => f %>
  	<div class="button form-row">
    	<%= f.submit translate('general.create') %>
    </div>
  <% end -%>
</div>
