<h1>Historical Events for <%= @project.title %></h1>
<%= link_to '<< Back', @project %>
<%= link_to translate('projects.add'), new_project_item_path(@project) if @project.can_edit?(current_user) %>
<div>
  <%= render @items %>
</div>