<div id="header">
	<h1 class="logo"><a href="/">TwHistory</a></h1>
	<div class="form-holder"> 
		<%= render :partial => 'layouts/global/login_controls' %>
		<a href="/teachers" class="btn-corner">Teachers corner</a> 
	</div>
	<strong class="slogan">Those who forget history are doomed to re-tweet it</strong>
</div>