<div class="time-line"> 
	<ul>
		<%= decades(1830, 1920) %>   
	</ul> 
	<a href="#" class="point" style="left:123px;">1835</a>
	<a href="#" class="point" style="left:286px;">1850</a> 
	<a href="#" class="point" style="left:451px;">1867</a> 
	<a href="#" class="point" style="left:701px;">1893</a> 
	<a href="#" class="point" style="left:721px;">1894</a> 
	<a href="#" class="point" style="left:931px;">1918</a> 
</div>